.card{
    height: 80vh;
    margin: 60px;
    padding: 25px;   
}
.center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
}
h4,h6{
    font-weight: 400;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.card-table{
    margin-top: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
}
.center .btn{
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}

.btn:hover{
    opacity: 1;
    color: #0c0505;
    background-color: #ececec;
    border-color: #e6e6e6;
    box-shadow: 0 0 0 0.2rem #ccc;
}
.overlay-content .btn{
    background-color: #444;
    border-color: #444;
    color: #0c0505;
}
.qty-container .qty-adjust {
    display: inherit;
}
.qty-minus {
    left: 0;
}
.material-icons-round {
    font-family: Material icons round;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    vertical-align: bottom;
    overflow: hidden;
}
.overlay-content .btn {
    background-color: #444;
    border-color: #444;
    color: #0c0505;
}
.btn-square-small {
    line-height: 36px;
    font-size: 18px;
}
