<body>
    <div class="box">
        <div class="wrapper">
            <div class="grid">
                <div class="grid__item large--eight-twelfths push--large--two-twelfths">
                    <div class="section-header">
                        <h2 class="section-header__title">Boutique list</h2>
                    </div>
                </div>
            </div>
            <div id="FeaturedCollections-template--14281495642186__16398281025f9a7469"
                class="grid grid-spacer slick slick-featured-collections slick-fallback" data-count="2"
                data-arrows="true" data-dots="true">
                <div
                    class="grid__item medium--six-twelfths large--four-twelfths flex flex-fill collection-163982810211d251de-0">
                    <a routerLink="/rida" class="image-link flex full collection_grid-animation ">
                        <div class="collection_grid-item collection_grid--medium box media-wrapper overlay ">
                            <div class="collection_grid-image media bgset lazyloaded"
                                data-bgset="//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_180x.jpg?v=1639863761 180w 213h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_360x.jpg?v=1639863761 360w 426h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_540x.jpg?v=1639863761 540w 639h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_720x.jpg?v=1639863761 720w 852h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_900x.jpg?v=1639863761 900w 1065h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_1080x.jpg?v=1639863761 1080w 1278h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3.jpg?v=1639863761 1140w 1349h"
                                data-parent-fit="cover"
                                style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_720x.jpg?v=1639863761&quot;);">
                                <picture style="display: none;">
                                    <source
                                        data-srcset="//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_180x.jpg?v=1639863761 180w 213h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_360x.jpg?v=1639863761 360w 426h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_540x.jpg?v=1639863761 540w 639h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_720x.jpg?v=1639863761 720w 852h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_900x.jpg?v=1639863761 900w 1065h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_1080x.jpg?v=1639863761 1080w 1278h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3.jpg?v=1639863761 1140w 1349h"
                                        sizes="545px"
                                        srcset="//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_180x.jpg?v=1639863761 180w 213h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_360x.jpg?v=1639863761 360w 426h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_540x.jpg?v=1639863761 540w 639h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_720x.jpg?v=1639863761 720w 852h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_900x.jpg?v=1639863761 900w 1065h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3_1080x.jpg?v=1639863761 1080w 1278h,//cdn.shopify.com/s/files/1/0552/6405/1274/products/il_1140xN.3044239674_3gm3.jpg?v=1639863761 1140w 1349h">
                                    <img alt="" class="lazyautosizes lazyloaded" data-sizes="auto"
                                        data-parent-fit="cover" sizes="545px">
                                </picture>
                            </div>
                            <div class="collection_grid-inner media-content">
                                <div class="collection_grid-text-wrapper">
                                    <h3 class="collection_grid-title">
                                        Laces
                                    </h3>
                                    <p
                                        class="collection_grid-product-count text-small text-italic spacer-bottom-none spacer-top-sm">
                                        64
                                        Products
                                    </p><button type="button" class="btn   spacer-top">
                                        Shop now
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div
                    class="grid__item medium--six-twelfths large--four-twelfths flex flex-fill collection-163982810211d251de-1">
                    <a routerLink="/rida" class="image-link flex full collection_grid-animation ">
                        <div class="collection_grid-item collection_grid--medium box media-wrapper overlay ">
                            <div class="collection_grid-image media bgset lazyloaded"
                                data-bgset="//cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78_180x.jpg?v=1639863916 180w 252h,//cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78_360x.jpg?v=1639863916 360w 504h,//cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78_540x.jpg?v=1639863916 540w 756h,//cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78.jpg?v=1639863916 590w 826h"
                                data-parent-fit="cover"
                                style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78.jpg?v=1639863916&quot;);">
                                <picture style="display: none;">
                                    <source
                                        data-srcset="//cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78_180x.jpg?v=1639863916 180w 252h,//cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78_360x.jpg?v=1639863916 360w 504h,//cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78_540x.jpg?v=1639863916 540w 756h,//cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78.jpg?v=1639863916 590w 826h"
                                        sizes="545px"
                                        srcset="//cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78_180x.jpg?v=1639863916 180w 252h,//cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78_360x.jpg?v=1639863916 360w 504h,//cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78_540x.jpg?v=1639863916 540w 756h,//cdn.shopify.com/s/files/1/0552/6405/1274/collections/Orange_Lehenga_f51a5d1e-30ed-4f6f-a5c8-d3f539d2af78.jpg?v=1639863916 590w 826h">
                                    <img alt="" class="lazyautosizes lazyloaded" data-sizes="auto"
                                        data-parent-fit="cover" sizes="545px">
                                </picture>
                            </div>
                            <div class="collection_grid-inner media-content">
                                <div class="collection_grid-text-wrapper">
                                    <h3 class="collection_grid-title">
                                        Lengha
                                    </h3>
                                    <p
                                        class="collection_grid-product-count text-small text-italic spacer-bottom-none spacer-top-sm">
                                        212
                                        Products
                                    </p><button type="button" class="btn   spacer-top">
                                        Shop now
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>