<body>
    <div class="box">
        <div class="wrapper">
            <div class="grid">
                <div class="grid__item large--eight-twelfths push--large--two-twelfths">
                    <div class="section-header">
                        <h2 class="section-header__title">Boutique list</h2>
                    </div>
                </div>
            </div>
            <div id="FeaturedCollections-template--14281495642186__16398281025f9a7469"
                class="grid grid-spacer slick slick-featured-collections slick-fallback" data-count="2"
                data-arrows="true" data-dots="true">
                <div
                    class="grid__item medium--six-twelfths large--four-twelfths flex flex-fill collection-163982810211d251de-0">
                    <a routerLink="/rida" class="image-link flex full collection_grid-animation ">
                        <div class="collection_grid-item collection_grid--medium box media-wrapper overlay ">
                            <div class="collection_grid-image media bgset lazyloaded"
                                style="background-image: url(../../assets/Images/Floral_Lehenga.jpg);">
                                <picture style="display: none;">
                                   <img src= "../../assets/Images/Floral_Lehenga.jpg">
                                </picture>
                            </div>
                            <div class="collection_grid-inner media-content">
                                <div class="collection_grid-text-wrapper">
                                    <h3 class="collection_grid-title">
                                        Laces
                                    </h3>
                                    <p
                                        class="collection_grid-product-count text-small text-italic spacer-bottom-none spacer-top-sm">
                                        64
                                        Products
                                    </p><button type="button" class="btn   spacer-top">
                                        Shop now
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div
                    class="grid__item medium--six-twelfths large--four-twelfths flex flex-fill collection-163982810211d251de-1">
                    <a routerLink="/rida" class="image-link flex full collection_grid-animation ">
                        <div class="collection_grid-item collection_grid--medium box media-wrapper overlay ">
                            <div class="collection_grid-image media bgset lazyloaded"
                            style="background-image: url(../../assets/Images/Orange_Lehenga.jpg);" >
                                <picture style="display: none;">
                                    <img src= "../../assets/Images/Orange_Lehenga.jpg">
                                 </picture>
                            </div>
                            <div class="collection_grid-inner media-content">
                                <div class="collection_grid-text-wrapper">
                                    <h3 class="collection_grid-title">
                                        Lengha
                                    </h3>
                                    <p
                                        class="collection_grid-product-count text-small text-italic spacer-bottom-none spacer-top-sm">
                                        212
                                        Products
                                    </p><button type="button" class="btn   spacer-top">
                                        Shop now
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>