<!-----------------------------Product Detail Start--------------------------------------->
<body>
<div class="small-container single-product" >
    <div class="row">
        <div class="col-6"  >
          <img src="{{ridaDetails?.imgUrl}}" alt="Product" width="100%" id="ProductImg">   


          <div class="small-img-row">

              <div class="small-img-col">
                <img src="../../assets/Images/Product_2.jpg" alt="Product" width="100%" class="small-img">
              </div>
              <div class="small-img-col">
                <img src="../../assets/Images/Product_3.jpg" alt="Product" width="100%" class="small-img">
              </div>
              <div class="small-img-col">
                <img src="../../assets/Images/Product_4.jpg" alt="Product" width="100%" class="small-img"> 
              </div>
              <div class="small-img-col">
                <img src="../../assets/Images/Product_5.jpg" alt="Product" width="100%" class="small-img"> 
              </div>
          </div>



        </div>
        <div class="col-6">
            <h2>{{ridaDetails?.ridaName}}</h2>
            <p><span class="money">INR {{ridaDetails?.ridaNewPrice}}</span> <span class="old-price">INR {{ridaDetails?.ridaOldPrice}}</span></p>
            Quantity
        <input type="number" class="qty-input input--small " name="quantity" id="Quantity-product-6732920488010" value="1" min="1" max="99999">
        
        <button type="submit" name="add" id="AddToCart--template--14281495937098__main" class="btn btn--primary btn--add-to-cart full">
          <span class="btn__text">
            <span class="material-icons-round button-cart-icon"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
            <span class="btn__add-to-cart-text">Add to Cart</span>
          </span>
        </button>
    
        <div class="container">
           <h3>Product Information</h3>
           <h4>Description:</h4>
           <p>{{ridaDetails?.description}}</p>
            <h4>Brand:</h4>      
            <p>{{ridaDetails?.brand}}</p>
            <h4>Size & Fit:</h4>
            <p>{{ridaDetails?.sizeAndFit}}</p>
           <h4>Material & Care:</h4>    
           <p>{{ridaDetails?.materialAndCare}}</p>
          </div>
        </div>
    </div>
</div>
<!-----------------------------Product Detail Start--------------------------------------->
<section>
  <h2>Recommended For You</h2>
  <app-rida-product-cart></app-rida-product-cart>
</section>
</body>




