<body>
  <div class="container">
     <header>SignUp Form</header>
     <form  [formGroup]="signupForm" (ngSubmit)="signUp()">
        <div class="input-field">
            <input formControlName="fullname"   type="text" class="form-control">
            <label >Full Name</label>
            <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required','fullname')">"Fullname is required</span>
        </div>
        <div class="input-field">
            <input formControlName="mobile" type="number" class="form-control">
            <label >Mobile Number</label>
            <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','mobile')">"Mobile is required</span>
        </div>
        <div class="input-field">
          <input formControlName="email" type="email" class="form-control">
          <label>Email address</label>
          <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">"Email is required</span>
      </div>
      <div class="input-field">
          <input formControlName="password" type="password" class="form-control">
          <label>Password</label>
          <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">"Password is required</span>
      </div>
        <div class="button">
           <div class="inner"></div>
           <button type="submit" [disabled]="!signupForm.valid" (click)="signUp()">SIGN UP</button>
        </div>
     </form>
     <div class="auth">
        Or login with
     </div>
     <div class="links">
        <div class="facebook">
          <i class="fa fa-facebook-official" aria-hidden="true"><span>Facebook</span></i>
        </div>
        <div class="google">
          <i class="fa fa-google-plus-square" aria-hidden="true"><span>Google</span></i>
        </div>
     </div>
     <div class="signup">
      Already Registered?<a routerLink="/login"> Click to Login!!</a>
     </div>
  </div>
</body>








<!--<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Register Your Self!</h6>
                </div>
                <form>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Full Name</label>
                            <input formControlName="fullname"   type="text" class="form-control" id="exampleInputPassword1" placeholder="Your Full Name">
                            <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required','fullname')">"Fullname is required</span>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                            <input formControlName="mobile" type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number">
                            <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','mobile')">"Mobile is required</span>
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                          <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">"Email is required</span>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">"Password is required</span>
                        </div>
                        <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary mb-2">Sign Up</button>
                      </form>
                </form>
                <a routerLink="/login">Already Registered? Click to Login!!</a>
            </div>
        </div>
    </div>
</div>-->
